
<div style="position: fixed;"><app-submenu></app-submenu></div>

<div class="tabla">
    <a class="atras" href="/Notificaciones" style="text-decoration:none">Atrás </a>
    <h2 class="T" >Información del Notificaciones </h2>
    <table>
        
        <tbody> 
        <tr>
            <th>Habilitado/th>
            <th class="Dts"><label >Si</label></th>
            </tr>       
        <tr>
            <th>Tipo</th>
            <th class="Dts"><label >H3</label></th>
        </tr>    
        <tr>
            <th>Nombre</th>
            <th class="Dts"><label >H3</label></th>
        </tr>
        <tr>
            <th>Descripción</th>
            <th class="Dts"><label >H3</label></th>
        </tr>
        <tr>
            <th>Filtro</th>
            <th class="Dts"><label >H3</label></th>
        </tr>
        <tr>
            <th>ID Dispositivo</th>
            <th class="Dts"><label >H3</label></th>
        </tr>
        <tr>
            <th>Tipo dispositivo</th>
            <th class="Dts"><label >H3</label></th>
        </tr>
        <tr>
            <th>Creado en</th>
            <th class="Dts"><label >H3</label></th>
        </tr>
        <tr>
            <th>Actualizado en</th>
            <th class="Dts"><label >H3</label></th>
        </tr>
       
        </tbody>

    </table>

</div>

   
        <div class="tablaP">
            <h2 class="T" >Parámetros</h2>
            <table>
               
                <tbody> 
                <tr>
                    <th>Usuario suscrito</th>
                    <th class="DtsP"><label >suscrito</label></th>
                    </tr>       
                <tr>
                    <th>Cuero Notificación</th>
                    <th class="DtsP"><label >Prueba dispositivo Unabell</label></th>
                </tr>    
                <tr>
                    <th>Título notificación</th>
                    <th class="DtsP"><label >Prueba de Unabell</label></th>
                </tr>

            </tbody>

            </table>
         </div>