
<div style="background-color: aqua !important;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light navStatic">

        <div class="divItemNav margin5">
            <a class="navbar-brand row" href=""><label class="tituloZaio"><b>Zaiotec</b></label><span class="subtituEslogan">Soluciones tecnológicas que transformarán digitalmente tu empresa
            </span></a>
        </div>
        <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse divItemNav" id="navbarNav" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ulMenu" id="ulMenu">
                <li class="nav-item active liItem" id="liMenu">
                    <a class="nav-link" href="/Empresa">Empresa </a>
                </li>
                <li class="nav-item liItem" id="liMenu">
                    <a class="nav-link" href="/Productos">Productos</a>
                </li>

                <li class="nav-item liItem" id="liMenu">
                    <a class="nav-link" href="/Contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

</div>

<div class="divContenedorPrincipal" (scroll)="onScroll($event)">
    <img class="imgBanner" src="../../assets/images/zaioBanner.png">
    <br>

    <div class="divAliado">
        <br>
        <h2 class="tituloAliado">ZaIoTec tu aliado en Soluciones Tecnológicas</h2>
        <br>
        <p class="parrafoAliado"><b>Te ayudamos a transformar digitalmente tu empresa, mediante el desarrollo de soluciones tecnológicas que permitan automatizar tus procesos, utilizando tecnologías innovadoras de la Industria 4.0 y del Internet de las cosas (IoT).</b></p>
        <div class="row divRow">

            <div class="divItem4">
                <img class="imgItem" src="../../assets/images/focoIdea.png">
                <br>
                <br>
                <h3 class="tituloItem">Soluciones innovadoras</h3>

                <ul class="ulItem">
                    <li>Desarrollamos soluciones tecnológicas innovadoras</li>
                    <li>Implementamos tu idea de proyecto a la medida</li>
                    <li>Utilizamos tecnologías  innovadoras</li>
                </ul>
            </div>
            <div class="divItem4">
                <img class="imgItem" src="../../assets/images/engraneIdea.png">
                <br>
                <br>
                <h3 class="tituloItem">Automatización de procesos</h3>
                <ul class="ulItem">
                    <li>Diseñamos la mejor solución para automatizar tus procesos</li>
                    <li>Desarrollamos la solución tecnológica que se adapte a tus necesidades de automatización</li>
                </ul>
            </div>
            <div class="divItem4">
                <img class="imgItem" src="../../assets/images/graficoCompa.png">
                <br>
                <br>
                <h3 class="tituloItem">Transformación digital</h3>
                <ul class="ulItem">
                    <li>Contribuimos a logra la transformación digital de tu empresa o negocio</li>
                    <li>Contamos con un equipo especializado para diseñar la solución más adecuada</li>
                </ul>


            </div>
            <div class="divItem4">
                <img class="imgItem" src="../../assets/images/graficoCompa.png">
                <br>
                <br>
                <h3 class="tituloItem">Localización y monitoreo</h3>
                <ul class="ulItem">
                    <li>Integramos soluciones de localización y monitoreo para vehículos, activos y personas. </li>
                </ul>
            </div>



        </div>
    </div>


    <br><br><br>

    <div class="divDesarrollo">
        <br>
        <h2 class="tituloAliado">Nosotros somos tu solució tecnológica, ofrecemos el desarrollo de:</h2>
        <br>


        <div class="row divRow">

            <div class="divItem3">
                <img class="imgItem" src="../../assets/images/desarrolloApps.png">
                <br>
                <br>
                <h3 class="tituloItem">Aplicaciones Móviles</h3>

            </div>
            <div class="divItem3">
                <img class="imgItem" src="../../assets/images/desarrolloWeb.png">
                <br>
                <br>
                <h3 class="tituloItem">Sitios Web</h3>

            </div>
            <div class="divItem3">
                <img class="imgItem" src="../../assets/images/desarrolloComercio.png">
                <br>
                <br>
                <h3 class="tituloItem">Comercio Electrónico</h3>
            </div>
        </div>
    </div>
    <br><br>

    <div class="divDesarrollo">
        <br>
        <h2 class="tituloAliado">Porque escoger los servicios de ZaIoTec</h2>
        <br>


        <div class="row divRow">
            <div class="divItem2">
                <img class="imgItem" src="../../assets/images/desarrolloApps.png">
                <ul class="ulItem">
                    <li>Te apoyamos en encontrar la mejor solución tecnológica para tu empresa</li>
                </ul>

            </div>
            <div class="divItem2">
                <img class="imgItem" src="../../assets/images/desarrolloWeb.png">
                <ul class="ulItem">
                    <li>Contribuimos a automatizar tus procesos para mejorar tus indicadores</li>
                </ul>
            </div>
        </div>

        <div class="row divRow">
            <div class="divItem2">
                <img class="imgItem" src="../../assets/images/desarrolloApps.png">
                <ul class="ulItem">
                    <li>Transformamos digitalmente tu empresa, lo que te permitirá tener presencia digital.</li>
                </ul>

            </div>
            <div class="divItem2">
                <img class="imgItem" src="../../assets/images/desarrolloWeb.png">
                <ul class="ulItem">
                    <li>Proximamente contaremos con una plataforma de eolocalización para el rastreo de vehiculos , activos y personas.</li>
                </ul>
            </div>
        </div>
    </div>
    <br><br>
    <!--preguntas-->
    <div class="divPreguntas">
        <h2 class="pregunta1">¿Cómo te podemos ayudar?</h2>
        <br>
        <h2 class="pregunta2">Comunicate con nosotros</h2>

        <h2 class="pregunta3">Con gusto te atenderemos</h2>
        <br>

    </div>

    <app-banner-footer></app-banner-footer>


</div>
