
<div style="background-color: aqua !important;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light navStatic">

        <div class="divItemNav margin5">
            <a class="navbar-brand row" href=""><label class="tituloZaio"><b></b></label>
                <img class="imgLogoFotter" src="../../assets/images/Zaiotec(1).png">
              
                </a>    
        </div>
        <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse divItemNav" id="navbarNav" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ulMenu" id="ulMenu">
                <li class="nav-item active liItem" id="liMenu">
                    <a class="navlink" href="/Empresa" style="text-decoration:none">Empresa </a>
                </li>
                <li class="nav-item liItem" id="liMenu">
                    <a class="navlink1"  href="" style="text-decoration:none">Soluciones IoT</a>
                </li>

                <li class="nav-item liItem" id="liMenu">
                    <a class="navlink" href="/Contacto" style="text-decoration:none">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

</div>

<div class="divContenedorProductos">
</div>
<br> 
<br>
    <h2 class="h2TituloProductos">Tecnología de la Industria 4.0
    </h2>
    <p class="pTecnologiaProductos">La Industria 4.0 es la tendencia actual de automatización e intercambio de datos, cuya tecnología se está usando principalmente para las áreas de manufactura y desarrollo, incluye:</p>

    <img class="imgINdustria" src="../../assets/images/industria_zai.png">
    


    <br><br>
    <h2 class="h2TituloProductos">¿Qué es el Internet de las cosas?
    </h2>
    <div class="row contenedorImgTexto">
        <div class="contenedorImagen">
            <img class="imgTexto" src="../../assets/images/globos_industria.png">
        </div>
        <div class="contenedorTexto">
            <p class="pTextoImagen">El Internet de las Cosas (Internet of Things – IoT) consiste en que nos podamos conectar a Internet en cualquier momento y lugar, tanto personas como objetos.</p>
        </div>
    </div>
    <br>
    <p class="pTecnologiaProductos">Para una transformación digital, ofrecemos a  PyMEs y clientes la integración de proyectos con tecnología de la Industria 4.0 y del Internet de las cosas (IoT) a través de soluciones integrales.</p>

    <h2 class="h2TituloProductos">El Internet de las cosas se puede aplicar en:</h2>


        <div class=" row divContenedorIOT2">
            <div class="item2IOT">
                
                <img class="imgItem" src="../../assets/images/agricultura_inteligente.jpeg">
                <br>
                <br> 
                <h3 class="h3Titulo">Agricultura</h3>
                <p class="itemp"> La combinación de IoT, análisis de datos y automatización está revolucionando la agricultura, permitiendo una producción más eficiente, el monitoreo de cultivos y ganado, y la reducción del consumo de recursos.</p>
            </div>
            
            <div class="item2IOT">
               
                <img class="imgItem" src="../../assets/images/casa-inteligente.jpeg">
                <br>
                <br> 
                <h3 class="h3Titulo">Casa Inteligente</h3>
                <p class="itemp">Los dispositivos inteligentes conectados para el hogar, están facilitando la automatización y el control remoto de diferentes aspectos de la vida diaria, ofreciendo mayor comodidad y seguridad.</p>
            </div>
            <br>
            <br>
            <br>
            <div class="item2IOT">
                <br>
                <br>
                <img class="imgItem" src="../../assets/images/CDMX_inteligente.jpeg">
                <br>
                <br>
                <h3 class="h3Titulo">Ciudad Inteligente</h3>
                <p class="itemp">El IoT está transformando las ciudades en entornos inteligentes, utilizando sensores y dispositivos conectados para mejorar la gestión de recursos, el transporte, la seguridad y la calidad de vida de los ciudadanos.</p>
            </div>
            <div class="item2IOT">
                <br>
                <br>
        
                <img class="imgItem" src="../../assets/images/Logistica-integral.jpeg">
                <br>
                <br>
                <h3 class="h3Titulo">Logística</h3>
                <p class="itemp">La implementación del IoT en la cadena de suministro está mejorando la visibilidad, la eficiencia y la trazabilidad de los productos, permitiendo un seguimiento preciso desde la producción hasta la entrega final.</p>
            </div>
    
        </div>
    
        <div class="row divContenedorIOT2">
            
            <div class="item2IOT">
                
                <img class="imgItem" src="../../assets/images/Transporte_inteligente.png">
                <br>
                <br>
                <h3 class="h3Titulo">Transporte Inteligente</h3>
                <p class="itemp">El IoT está impulsando la evolución hacia vehículos autónomos y la conectividad en el sector del transporte, permitiendo la optimización del tráfico, la seguridad vial y la gestión eficiente de flotas.</p>
            </div>
            <div class="item2IOT">
                
               
                <img class="imgItem1" src="../../assets/images/Industria-inteligente.jpeg">
                <br>
                <br>
                
                <h3 class="h3Titulo">Industria Inteligente</h3>
                <p class="itemp">Las soluciones IoT están transformando las fábricas en entornos inteligentes, donde los dispositivos y máquinas están interconectados para optimizar la producción, reducir costos y mejorar la calidad.
                </p>
            </div>
        </div>
   
             

    <br>
    <br>
    <br>
    <div class="divPreguntas">
        <h2 class="pregunta1">¿Necesitas saber más?</h2>
        
        <h2 class="pregunta2">¿Tienes un proyecto de IoT en el que te podamos ayudar?</h2>

        <h2 class="pregunta3">Escríbenos y recibirás toda la información que necesitas</h2>
        <br>

    </div>

   <app-banner-footer></app-banner-footer>
    