
<div style="background-color: aqua !important;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light navStatic">

        <div class="divItemNav margin5">
            <a class="navbar-brand row" href=""><label class="tituloZaio"><b>Zaiotec</b></label><span class="subtituEslogan">Soluciones tecnológicas que transformarán digitalmente tu empresa
            </span></a>
        </div>
        <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse divItemNav" id="navbarNav" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ulMenu" id="ulMenu">
                <li class="nav-item active liItem" id="liMenu">
                    <a class="nav-link" href="/Empresa">Empresa </a>
                </li>
                <li class="nav-item liItem" id="liMenu">
                    <a class="nav-link" href="">Productos</a>
                </li>

                <li class="nav-item liItem" id="liMenu">
                    <a class="nav-link" href="/Contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

</div>

<div class="divContenedorProductos">
    <h2 class="h2TituloProductos">Nuestros Productos</h2>


    <div class="row divContenedorIOT3">
        <div class="item3IOT">
            <h2 class="itemTituloProductos">Web Za<span class="IOTtitulo">IoT</span>rack</h2>
            <img class="imgProducto" src="../../assets/images/desarrolloWeb.png">

        </div>
        <div class="item3IOT">
            <h2 class="itemTituloProductos">Web e-Reports</h2>
            <img class="imgProducto" src="../../assets/images/desarrolloWeb.png">
        </div>
        <div class="item3IOT">
            <h2 class="itemTituloProductos">Web Za<span class="IOTtitulo">IoT</span>-Router</h2>
            <img class="imgProducto" src="../../assets/images/desarrolloWeb.png">
        </div>

    </div>

    <div class="row divContenedorIOT2">
        <div class="item2IOT">
            <h2 class="itemTituloProductos">Web Za<span class="IOTtitulo">IoT</span>rack</h2>
            <img class="imgProducto2" src="../../assets/images/desarrolloWeb.png">

        </div>
        <div class="item2IOT">
            <h2 class="itemTituloProductos">App Za<span class="IOTtitulo">IoT</span>-Alert</h2>
            <img class="imgProducto2" src="../../assets/images/desarrolloWeb.png">
        </div>
    </div>
<br>
<br>
    <h2 class="h2TituloProductos">Tecnología de la Industria 4.0
    </h2>
    <p class="pTecnologiaProductos">La Industria 4.0 es la tendencia actual de automatización e intercambio de datos, cuya tecnología se está usando principalmente para las áreas de manufactura y desarrollo, incluye:</p>

    <img class="imgINdustria" src="../../assets/images/industria_zai.png">
    <div>

    </div>


    <br><br>
    <h2 class="h2TituloProductos">¿Qué es el Internet de las cosas?
    </h2>
    <div class="row contenedorImgTexto">
        <div class="contenedorImagen">
            <img class="imgTexto" src="../../assets/images/globos_industria.png">
        </div>
        <div class="contenedorTexto">
            <p class="pTextoImagen">El Internet de las Cosas (Internet of Things – IoT) consiste en que nos podamos conectar a Internet en cualquier momento y lugar, tanto personas como objetos.</p>
        </div>
    </div>
    <br>
    <p class="pTecnologiaProductos">Para una transformación digital, ofrecemos a  PyMEs y clientes la integración de proyectos con tecnología de la Industria 4.0 y del Internet de las cosas (IoT) a través de soluciones integrales.</p>

    <h4 class="h4Titulo">El Internet de las cosas se puede aplicar en:</h4>


    <div class="row divContenedorIOT3">
        <div class="item3IOT">
            <h3 class="h3Titulo">Agricultura</h3>
            <img class="imgItem" src="../../assets/images/agricultura_inteligente.jpeg">
            <br>
            <br>
            <p class="itemp">Monitoreo de variables ambientales (humedad relativa, temperatura, luminosidad, etc.) en sus campos en tiempo real, en caso de existir variaciones las aplicaciones envíen alertas automáticas para que el usuario tome las medidas correspondientes.</p>
        </div>
        <div class="item3IOT">
            <h3 class="h3Titulo">Casa Inteligente</h3>
            <img class="imgItem" src="../../assets/images/casa-inteligente.jpeg">
            <br>
            <br>
            <p class="itemp">Sistemas de iluminación inteligente, activación y visualización de la seguridad de la casa a distancia, para conocer lo que sucede en el hogar estando fuera o dentro de él, se enviarán mensajes de alerta en caso de que alguna situación esté fuera de los parámetros establecidos.</p>
        </div>
        <div class="item3IOT">
            <h3 class="h3Titulo">Ciudad Inteligente</h3>
            <img class="imgItem" src="../../assets/images/CDMX_inteligente.jpeg">
            <br>
            <br>
            <p class="itemp">Soluciones integrales que permitan a las autoridades de las ciudades automatizar sus servicios de iluminacion, transporte, monitoreo, adoptando las ventaja del Internet de las cosas (IoT).</p>
        </div>
    </div>


    <div class="row divContenedorIOT3">
        <div class="item3IOT">
            <h3 class="h3Titulo">Logística</h3>
            <img class="imgItem" src="../../assets/images/Logistica-integral.jpeg">
            <br>
            <br>
            <p class="itemp">Rastreo de la ubicación de activos, se pueden configurar alarmas para evitar la pérdida de un bien mientras se mantiene apartado de este, se enviarán mensajes de alerta con la ubicación exacta.</p>
        </div>
        <div class="item3IOT">
            <h3 class="h3Titulo">Apoyo en la salud</h3>
            <img class="imgItem" src="../../assets/images/Salud.jpeg">
            <br>
            <br>
            <p class="itemp">Soluciones que permitirán monitorea diversas variables del paciente en tiempo real, con el objetivo de enviar mensajes de alerta para apoyo en su cuidado.</p>
        </div>
        <div class="item3IOT">
            <h3 class="h3Titulo">Seguridad</h3>
            <img class="imgItem" src="../../assets/images/seguridad2.png">
            <br>
            <br>
            <p class="itemp">Dispositivos que al detectar presencia una señal de alerta se envía, avisaran en el preciso instante en el que se haya producido una entrada potencialmente peligrosa o en caso de detectar una actividad dentro del espacio configurado.
            </p>
        </div>
    </div>

    <br>
    <h2 class="tituloServicios">Servicios que también podemos ofrecer:</h2>

    <div class="row divContenedorIOT2">
        <div class="item2IOT">
            <h3 class="h3Titulo">Consultoría<br>
                <br></h3>
            <img class="imgItem" src="../../assets/images/Ingenieria.jpg">
            <br>
            <br>
            <p class="itemp">Ofrecemos consultoría para el desarrollo e implementación de proyectos de tecnología, a través de un servicio personalizado de soluciones integrales.</p>
        </div>
        <div class="item2IOT">
            <h3 class="h3Titulo">Desarrollo de Estrategias Digitales</h3>
            <img class="imgItem" src="../../assets/images/desarrollo-estrategias.jpg">
            <br>
            <br>
            <p class="itemp">Para que tu negocio continúe operando, necesitas tener presencia digital y nosotros podemos ayudarte creando estrategias digitales acorde a tus necesidades.</p>
        </div>
    </div>
    <div class="row divContenedorIOT2">
        <div class="item2IOT">
            <h3 class="h3Titulo">Automatización</h3>
            <img class="imgItem" src="../../assets/images/AutomatizacionIOT.jpg">
            <br>
            <br>
            <p class="itemp">Potenciar tu negocio mediante la automatización de tus procesos, haciendo uso de tecnologías de la Industria 4.0 y el Internet de las cosas (IoT), diseñamos e implementamos soluciones innovadoras. </p>
        </div>
        <div class="item2IOT">
            <h3 class="h3Titulo">Diseños Electrónicos</h3>
            <img class="imgItem" src="../../assets/images/Disenoselectronicos.jpg">
            <br>
            <br>
            <p class="itemp">Ofrecemos placas de circuitos impresos de forma personalizada, diseñamos y desarrollamos soluciones innovadoras en Electrónica.</p>
        </div>
    </div>

    <br>
    <br>
    <br>
    <div class="divPreguntas">
        <h2 class="pregunta1">¿Necesitas saber más?</h2>
        <br>
        <h2 class="pregunta2">¿Tienes un proyecto de IoT en el que te podamos ayudar?</h2>

        <h2 class="pregunta3">Escríbenos y recibirás toda la información que necesitas</h2>
        <br>

    </div>

    <app-banner-footer></app-banner-footer>

</div>