

<div style="position: fixed;"><app-submenu></app-submenu></div>
<div class="tabla">
        <h2 class="T" >Información del dispositivo </h2>
        <button class="Edit">Editar</button>
            <table>
               
                <tbody> 
                <tr>
                    <th>ID</th>
                    <th class="Dts"><label >ha346shasd23d12</label></th>
                    </tr>       
                <tr>
                    <th>Token</th>
                    <th class="Dts"><label >shbasdalskjhsvjsdvhsdfsdfiwds</label></th>
                </tr>    
                <tr>
                    <th>Nombre</th>
                    <th class="Dts"><label >ZaIOTec</label></th>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <th class="Dts"><label >ZaIOTec</label></th>
                </tr>
               
                </tbody>
        
            </table>
</div>
<div class="tablaCont">
<div class="Titulo">  <h2 class="T" >Información del dispositivo </h2> 
  <button class="Edit">Editar</button>
</div>
      <table>
         
          <tbody> 
          <tr>
              <th>Suscripción Activa</th>
              <th class="DtsCont"><label >No hay contrato</label></th>
              </tr>                
          </tbody>
  
      </table>
</div>