
<div style="position: fixed;"><app-menu></app-menu></div>
<div style="position: fixed;"><app-submenu></app-submenu></div>



<div class="mapa">
    <a href="https://unpkg.com/maplibre-gl@3.x/dist/maplibre-gl.js" class="watermark"></a>
    <div class="map" #map></div>
  </div>

<!--<div class="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120530.36676398947!2d-99.73026280273437!3d19.257390699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd8b100600c98d%3A0x50062df6247fdfb3!2sTecNM%20-%20Instituto%20Tecnol%C3%B3gico%20de%20Toluca!5e0!3m2!1ses!2smx!4v1695163359744!5m2!1ses!2smx" width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

<div class="mapa">
<link href="https://unpkg.com/maplibre-gl@3.x/dist/maplibre-gl.css" rel="stylesheet" />
    <div id="map">

</div>
<script src="https://unpkg.com/maplibre-gl@3.x/dist/maplibre-gl.js"></script>
<script>
  const apiKey = "*****API_KEY_REDACTED*****";
  const mapName = "Mapa_1";
  const region = "us-east-1";

  const map = new maplibregl.Map({
    container: "map",
    style: `https://maps.geo.${region}.amazonaws.com/maps/v0/maps/${mapName}/style-descriptor?key=${apiKey}`,
    center: [-123.115898, 49.295868],
    zoom: 11,
  });
  map.addControl(new maplibregl.NavigationControl(), "top-left");
</script>

</div> -->
<div class="tabla">
  <h2 class="T" >Lista de Dispositivos  </h2>
  <table>
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Identificador específico</th> 
             
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>a</td>
              <td>b</td>
              <td>c</td>
              
          </tr>       
      </tbody>
  </table>
</div>




        <div class="divForm2">
            <h2 class="tituloTablero">Dispositivos - Mensajes</h2>

        
            <input class="inputNormal" >
         
        
        
        
        
        </div>
  


