
              
       

<div style="position: static;"><app-submenu></app-submenu></div>
<br>
<br>

<nav class="navbar navbar-expand-lg navbar-light bg-light navStatic">
    <div class="divItemNav margin5">
        <button class="button" onclick="history.back()" >Atrás</button>
              Información Dispositivo
              
    </div>
    
    <div class="nav-item liItem">
              Dispositivo: 
            {{Dispositivo.identificador}}
             </div>

    
</nav> 
<br>
<br>
    <mat-tab-group>
      <mat-tab  label="Datos del dispositivo">
      
            
        <div class="tabla">
         
            <h2 class="T" >Información del dispositivo </h2>
            <table>
               
                <tbody> 
                <tr>
                    <th>Nombre</th>
                    <th class="Dts"><label >H3</label></th>
                    </tr>       
                <tr>
                    <th>Identificador</th>
                    <th class="Dts"><label >H3</label></th>
                </tr>    
                <tr>
                    <th>Red</th>
                    <th class="Dts"><label >H3</label></th>
                </tr>
                <tr>
                    <th>Tipo</th>
                    <th class="Dts"><label >H3</label></th>
                </tr>
                <tr>
                    <th>Ultima Actividad</th>
                    <th class="Dts"><label >H3</label></th>
                </tr>
                <tr>
                    <th>Creado en</th>
                    <th class="Dts"><label >H3</label></th>
                </tr>
                <tr>
                    <th>Actualizado en</th>
                    <th class="Dts"><label >H3</label></th>
                </tr>
                <tr>
                    <th>Activado en</th>
                    <th class="Dts"><label >H3</label></th>
                </tr>
                <tr>
                    <th>Batería</th>
                    <th class="Dts"><label >H3</label></th>
                </tr>
                <tr>
                    <th>Renovación del dispositivo</th>
                    <th class="Dts"><label >H3</label></th>
                </tr>
                       
                </tbody>
        
            </table>
          </div>
        
     
      </mat-tab>
      <mat-tab label="Datos de eventos">
        
        
        
      <div class="tabla3">
       
        <h2 class="T" >Datos de Eventos </h2>
        <table >
           
            <tbody> 
            <tr>
                <th>No Datos</th>
                <th>______________________________</th>
                </tr>       
            <tr>
            </tbody>
        
        </table>
        </div>  
      </mat-tab>
 

      <mat-tab  label="Datos del localización">
       
        <div class="divForm">
            <h2 class="T" >Datos de Localizaciòn </h2>
            <table>
               
                <tbody>
                     
                </tbody>
            </table>
          </div>
          
          
          
          
                  <div class="divFormMapa">
                      <h2 class="TM">Mapa de Locaclizaciòn</h2>
          
                  
 <div class="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120530.36676398947!2d-99.73026280273437!3d19.257390699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd8b100600c98d%3A0x50062df6247fdfb3!2sTecNM%20-%20Instituto%20Tecnol%C3%B3gico%20de%20Toluca!5e0!3m2!1ses!2smx!4v1695163359744!5m2!1ses!2smx" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

                   
                  
                  
                  
                  
                  </div>
            
          
          
          
      </mat-tab>

      <mat-tab label="Datos de señal"> 
        
        <div class="tabla3">
            <h2 class="T" >Datos de Señal </h2>
            <table >
               
                <tbody> 
                <tr>
                    <th>No Datos</th>
                    <th>______________________________</th>
                    </tr>       
                <tr>
                </tbody>
            
            </table>
            </div>  
      </mat-tab>

      <mat-tab label="Configuración">     
          
         
         
          <div class="tablaC">
            <h2 class="T" >Configuración del dispositivo </h2>
            <table>
                <thead>
                    <tr>
                        <th >ATRIBUTOS</th>                   
                        <th class="Pts">VALOR</th>
                        <th class="Pts">UNIDADES / OPCIONES</th>
                    </tr>
                </thead>
                <tbody> 
                <tr>
                    <th>Habilitar el tiempo de cancelación</th>
                    <th class="Dts"><label >1</label></th>
                    </tr>
        
                <tr>
                    <th>Duración de cancelación</th>
                </tr>    
                <tr>
                    <th>Color de LED</th>
                </tr>
                <tr>
                    <th>Habilitar pulsación larga</th>
                </tr>
                <tr>
                    <th>Modo</th>
                </tr>
                <tr>
                    <th>Sensibilidad</th>
                </tr>
                <tr>
                    <th>Rango de mensajes</th>
                </tr>
                
                       
                </tbody>
            </table>
          </div>
        
        
      </mat-tab>

    </mat-tab-group>

