

<div style="position: absolute;"><app-menu></app-menu></div>

<div style="position: fixed;"><app-submenu></app-submenu></div>

<div class="divFormMapa">
    <h2 class="TM">Mapa de Localización</h2>


    <div class="mapa">
        <a href="https://unpkg.com/maplibre-gl@3.x/dist/maplibre-gl.js" class="watermark"></a>
        <div class="map" #map></div>

        

    </div>
</div>

<div class="mapboxgl-ctrl-group mapboxgl-ctrl"><button class="mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_point" title="Draw Point (m)"></button><button class="mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_line" title="Draw LineString (l)"></button><button class="mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_polygon" title="Draw Polygon (p)"></button><button class="mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_rectangle" title="Draw Rectangular Polygon (r)"></button><button class="mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_circle" title="Draw Circular Polygon (c)"></button></div>

