.divContenedorPrincipal{
    min-width: 100%;
    max-width: 100%;
}

/******INICIO MENU*****/


.navStatic{
    position: fixed; /* Set the navbar to fixed position */
    max-width: 100vw;
    min-width: 100vw;
    z-index: 100;
   margin-top: -82px !important;


}

.divItemNav{
    min-width: 50%;
    max-width: 50%;
}

.margin5{
    padding-left: 5%;
}

#ulMenu{
    margin-left: 20%;
    min-width: 80%;
    max-width: 80%;
}
#liMenu{
    min-width: 33%;
    max-width: 33%;

}


.tituloZaio{
    font-size: 1.5vw;
    min-width: 100%;
    color: #1e7ba6;

}

.brTitulo{
    line-height: 90% !important;
}

.subtituEslogan{
    font-size: 1vw;
    color: #1e7ba6;
}


.itemCurrent{
    color:#269bd1;
}

.itemHover{
    color: #2db1bd;
}
/******FIN MENU*****/

body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    background-color: #0f4c75;
}

#contenedor {
    
    margin-top: 50px;
    overflow-x: hidden;


}

#central {
 
    margin-top: 82px;
    min-width: 30%;
    max-width: 30%;
    margin-left: 35%;
    overflow-x: hidden;
}

.titulo {
    font-size: 250%;
    color:#bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}

#registro {
    width: 100%;
    padding: 50px 30px;
    background-color: #3282b8;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

#registro input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#registro input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#registro button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #bbe1fa;
    
    margin-top: 10px;
}

#registro button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #0f4c75;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}
